.checkbox_div {
  border: 1px solid black;
  width: 24px;
  height: 24px;
  position: relative;
  border-radius: 50%;
}

.checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 50%;
  cursor: pointer;
}

.checkbox_span {
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -1;
  border-radius: 50%;
}

.checkbox:checked ~ .checkbox_span {
  background-color: black;
}